{% extends 'snake_shop/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12 mb-4">
            <h1 class="display-5 fw-bold text-primary"><i class="bi bi-speedometer2"></i> Dashboard de Administración</h1>
            <!-- <p class="lead">Gestiona todo desde aquí. Total Pedidos: {{ total_pedidos }} | Ventas: ${{ total_recaudado }}</p> -->
        </div>
    </div>
    <!-- VENTAS -->
    <h3 class="mb-3 fw-bold">Administración de Ventas</h3>
    <div class="row g-4">
        {% for s in secciones_ventas %}
        <div class="col-md-4 col-lg-3">
            <a href="{% url s.url %}"
               class="card h-100 text-decoration-none shadow-sm border-0 text-center p-4">
                <i class="bi {{ s.icon }} fs-1 text-success mb-2"></i>
                <h5 class="fw-bold">{{ s.name }}</h5>
                {% if s.count is not None %}
                    <small class="text-muted">({{ s.count }})</small>
                {% endif %}
            </a>
        </div>
        {% endfor %}
    </div>
    <!-- CRUD -->
    <h3 class="mb-3 fw-bold">Administración General</h3>
    <div class="row g-4 mb-5">
        <div class="col-md-4 col-lg-3">
            <a href="{% url 'crear_producto' %}"
            class="card h-100 text-decoration-none shadow-sm border-0 text-center p-4">
                <i class="bi bi-plus-circle fs-1 text-success mb-2"></i>
                <h5 class="fw-bold">Agregar Producto</h5>
                <small class="text-muted">Crear producto</small>
            </a>
        </div>
        {% for s in secciones_crud %}
        <div class="col-md-4 col-lg-3">
            <a href="{% url 'crud_modelo' s.url %}"
               class="card h-100 text-decoration-none shadow-sm border-0 text-center p-4">
                <i class="bi {{ s.icon }} fs-1 text-primary mb-2"></i>
                <h5 class="fw-bold">{{ s.name }}</h5>
                <small class="text-muted">({{ s.count }})</small>
            </a>
        </div>
        {% endfor %}
    </div>

</div>
<style>
.hover-lift:hover { transform: translateY(-5px); transition: 0.3s; }
</style>
{% endblock %}
