{% extends 'snake_shop/base.html' %}
{% block content %}
<div class="container mt-5">
    <h2 class="text-danger">
        ¿Eliminar {{ model_name|title }}?
    </h2>

    <p>
        ¿Confirmar eliminación de:
        <strong>{{ obj }}</strong>?
    </p>

    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">
            Sí, eliminar
        </button>
        <a href="{% url 'crud_modelo' model_name %}" class="btn btn-secondary">
            Cancelar
        </a>
    </form>
</div>
{% endblock %}
